.landing {
  display: flex;
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: rgba(196, 190, 176, 1.0);
  margin-top: 1.0em;
}

.landing img {
  width: 120%;
  height: calc(0.35 * 90vw);
  object-fit: cover;
  margin-bottom: 1.0em;
}

#trendContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  transition: color 0.4s;
}

.trend {
  margin: 0 0.5em;
}

.trend:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}


@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }

  .landing img {
    width: 120%;
    height: calc(0.6 * 90vw);
    padding: 0 5.0em;
  }
}