.pageNav div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skipNav {
  margin: 0.5em;
}

.pageLink {
  margin: 1em;
  border: none;
  background: none;
  font-style: Castoro Titling;
  font-size: 1.0em;
  color: rgba(196, 190, 176, 1.0);
  transition: text-decoration 0.7s;
}

.pageLink:hover {
  text-decoration: underline;
}

.currentSelection {
  margin: 1em;
  border: none;
  background: none;
  font-style: Castoro Titling;
  font-size: 1.0em;
  color: rgba(196, 190, 176, 1.0);
}

.pageEl {
  font-size: 1.0em;
  color: rgba(196, 190, 176, 1.0);
  margin-right: 1.0em;
}

button {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
} 

#back {
  background-image: url('../../../public/assets/b.png'); 
}

#skipBack {
  background-image: url('../../../public/assets/b_skip.png'); 
}

#forward {
  background-image: url('../../../public/assets/f.png'); 
}

#skipForward {
  background-image: url('../../../public/assets/f_skip.png'); 
}

@media (max-width: 480px) {
  .pageNav {
    font-size: 0.9em;
  }
  
  .pageLink, .currentSelection {
    margin-left: 0.15em;
    margin-right: 0;
  }

  .pageEl {
    margin-left: 0.15em;
    margin-right: 0.15em;
  }

  button {
    height: 1.5em;
    width: 1.5em;
    background: none;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
  }
}