.pageNav div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skipNav {
  margin: 0.5em;
}

.pageLink {
  margin: 1em;
  border: none;
  background: none;
  font-style: Castoro Titling;
  font-size: 1.0em;
  color: rgba(196, 190, 176, 1.0);
}

.pageLink:hover {
  text-decoration: underline;
  color: blue;
}

.pageEl {
  font-size: 1.0em;
  color: rgba(196, 190, 176, 1.0);
  margin-right: 1.0em;
}

#back {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/b.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

#skipBack {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/b_skip.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

#forward {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/f.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

#skipForward {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/f_skip.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

#backD {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/b.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  opacity: 0.7;
}

#skipBackD {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/b_skip.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  opacity: 0.7;
}

#forwardD {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/f.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  opacity: 0.7;
}

#skipForwardD {
  height: 2.25em;
  width: 2.25em;
  background: none;
  background-image: url('../../../public/assets/f_skip.png'); /* Path to your PNG image */
  background-size: cover; /* Adjust to your preferred size */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  opacity: 0.7;
}