.pageNav div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skipNav {
  margin: 0.5em;
}

.pageLink {
  margin: 0 0.5em;
}

.pageLink:hover {
  text-decoration: underline;
  color: blue;
}