.searchbar {
  position: relative;
  width: 25vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  
}

.searchbar input {
  border: none;
  margin: 0.5em;
  height: 1.5em;
  width: 30vw;
  min-width: 175px;
  max-width: 300px;
  border-bottom: rgba(196, 190, 176, 0.4) 1px solid;
  color: rgba(198, 187, 165, 1.0);
  font-family: Castoro Titling;
  transition: border-color 0.3s;
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
}

.searchbar input:focus {
  outline: none;
  border-color: rgba(196, 190, 176, 1.0);
}

.searchbar button {
  height: 1.5em;
  width: 1.5em;
  background: none;
  background-image: url('../../../public/assets/search_icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .searchbar button {
    padding: 10px 10px;
  }
}