.navBar {
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  
  
  position: relative;
  top: -15px;
  left: 0;
  right: 0;
  height: 80px;
}

.navBar * {
  display: inline;
}

.navBar li {
  margin: 20px;
}

.logo {
  margin: 2em;
  font-size: 0.8em;
 
  display: flex;
  flex-direction: row;
  align-items:center;
}


.logo img {
  height: 20px;
  width: auto;
  margin: 1em;
}

.mainNav {
  
}

#cartButton {
  margin: 3em;
}