@font-face {
  font-family: 'Castoro Titling';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../public/fonts/castorotitling-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Rosarivo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../public/fonts/rosarivo-regular-webfont.woff') format('woff');
}

body {
  font-family: Rosarivo;
  
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
